@model CodeKatas.Mvc.Models.AddressModel

@{
    ViewBag.Title = "RemoveAddress";
}

<h2>Remove Address</h2>

<h3>Are you sure you want to delete this address?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>